<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shoe Store</title>
</head>

<body>
	<h1>Shoe Store</h1>

	<form>
		<div>
			<label>Name</label>
			<input type="text" placeholder="Adidas Superstar">
		</div>
		<div>
			<label>Category</label>
			<select>
				<option value="">SELECT ONE</option>
			</select>
		</div>
		<div>
			<label>Min Size</label>
			<input type="text" placeholder="36">
		</div>
		<div>
			<label>Max Size</label>
			<input type="text" placeholder="40">
		</div>
		<div>
			<label>Status</label>
			<select>
				<option>Available</option>
				<option>Discontinued</option>
			</select>
		</div>
		<div>
			<button type="submit">Add</button>
		</div>
	</form>
</body>

</html>