<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <p>
        ADMIN:
    - DELETE SYMPTOMS
    - CHECK SYMPTOMS AVAILABILITY
    - CHECK DISEASES BY FILTERING SYMPTOMS
        
        DOCTORS:
        - ADD/EDIT/DELETE SYMPTOMS
        - CHECK SYMPTOMS AVAILABILITY
        - CHECK DISEASES BY FILTERING SYMPTOMS

    CLIENT:
    - CHECK DISEASES BY FILTERING SYMPTOMS
</p>  
</body>
</html>