<style>
    p {
        white-space: pre;
    }
</style>

<nav style="background-color: rgb(0, 183, 255); color: antiquewhite;">
    <h1>Sakit Apa?</h1>
    <a href="/">Home</a>
    <a href="/users">User</a>
    <a href="/diseases">Diseases</a>
    <a href="/symptoms">Symptoms</a>
</nav>