<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-UA-Compatible</title>
</head>
<body>
    <%- include('../nav.ejs')%>
    <p>
        ADMIN:
    - ADD/EDIT/DELETE DISEASES
    - CHECK DISEASES AVAILABILITY
    - CHECK CLIENT BY FILTERING DISEASES
        
        DOCTORS:
        - ADD NEW DISEASES
        - CHECK DISEASES AVAILABILITY
        - CHECK CLIENT BY FILTERING DISEASES

    CLIENT:
    - CHECK DISEASES RECORD
</p>  

</body>
</html>